target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/MavenWrapperDownloader.java
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.idea/
*.iml
.vscode/
.DS_Store
*.swp
*.swo
*~
.env
logs/